@import url(http://fonts.googleapis.com/css?family=Roboto);

.jumbotron {
  box-shadow: 3px 3px 10px 2px rgba(0, 0, 0, 0.2);
}

.fa {
  transition: 0.3s;
  margin: 0 10px;
}

.fa:hover {
  transform: scale(1.2);
}

.container {
  margin: 10px 0;
}

#containermenu {
  margin-top: 100px;
}

#logofacebook {
  font-size: 30px;
  color: #3B5998;
  margin-top: 10px;
}

#logotwitter {
  font-size: 30px;
  color: #00ACED;
}

#logogithub {
  font-size: 30px;
  color: black;
}

#lieux {
  text-transform: uppercase;
}

#test {
  height: 400px;
  border: 1px solid black;
}

footer {
  background-color: grey;
  color: white;
}

.eltfooter {
  padding: 7px 0;
  margin-top: 7px;
}

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password], input[type=email] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
  /* border-radius: 3px; */
  /* -webkit-user-select: none;
    user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1);
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
}

.login-help{
  font-size: 12px;
}

#plus{
  float: right;
}

.display-form{
  border: 1px solid grey;
}

.form-choice{
  display: none;
}

/*----------CHAT-----------*/

.chat{
  z-index: 1;
  position: fixed;
  bottom: 0;
  width: 20%;
  margin-top: -2%;
  margin-left: 78%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}
.corpchat{
  display: none;
}
#discussion{
  overflow-y: scroll;
  max-height: 24em;
  border-bottom: 5px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}
#buttonchat{
  width: 100%;
}
.msg_chat{
  border-radius: 5px;
}

/*----------FIN DU CHAT----------*/

@media (max-width: 760px) {
  #test {
    margin: 10px 30px;
  }
}

@media (max-width:768px) {
  #containermenu {
    margin-top: 70px;
  }
  .jumbotron {
    box-shadow: none;
  }
  .fa {
    margin: 5px 0;
  }
}
